{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block beforeContent %}

	<!-- Phasebanner -->
	{% if showPhaseBanner != false %}
		{{ govukPhaseBanner({
			tag: { text: "Prototype" },
			html: "This is a prototype. It is not a real service."
		}) }}
	{% endif %}
	
	<!-- Primary Nav -->
	{% if showNav == true %}
		
		{% if data['nav'] == "users" %}
		{{ xGovukSecondaryNavigation({
			visuallyHiddenTitle: "Secondary menu",
			items: [							
				{ text: "Users", href: "/users/?nav=users", current: true },
				{ text: "Fund reports", href: "/funds/dashboard?nav=pro" }
			]
		}) }}
		
		{% else %}

		{{ xGovukSecondaryNavigation({
			visuallyHiddenTitle: "Secondary menu",
			items: [							
				{ text: "Users", href: "/users/?nav=users" },
				{ text: "Fund reports", href: "/funds/dashboard?nav=pro", current: true }
			]
		}) }}

		{% endif %}


	{% endif %} 

	<!-- Back Link -->
	{% if showBackLink != false %}
		{{ govukBackLink({
			text: "Back",
			href: "javascript:history.go(-1)"
		}) }}
	{% endif %}

<!-- 
        {% if showBread == true %}
        {{ govukBreadcrumbs({
          items: [
            { text: "Programme and projects", href: "/funds/dashboard?nav=pro" },
            { text: "Project name", href: "/funds/reports" }			
            
          ]
        }) }}
        {% endif %} -->

<!--
		 {{ xGovukPrimaryNavigation({
        	visuallyHiddenTitle: "Navigation",
          	items: [		  		
				{ text: "Pathfinders", href: "/programmes", current: true }, 
				{ text: "Levelling up Fund", href: "#" }                
			]
        }) }} -->



        
        

{% endblock %}