{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block beforeContent %}

	<!-- Phasebanner -->
	{% if showPhaseBanner != false %}
		{{ govukPhaseBanner({
			tag: { text: "Prototype" },
			html: "This is a prototype. It is not a real service."
		}) }}
	{% endif %}
	
	<!-- Primary Nav -->
	{% if showNav == true %}
		
		{% if data['nav'] == "users" %}
		{{ xGovukSecondaryNavigation({
			visuallyHiddenTitle: "Secondary menu",
			items: [							
				{ text: "Users", href: "/users/?nav=users", current: true },
				{ text: "Fund reports", href: "/funds/dashboard?nav=pro" }
			]
		}) }}
		
		{% else %}

		{{ xGovukSecondaryNavigation({
			visuallyHiddenTitle: "Secondary menu",
			items: [							
				{ text: "Users", href: "/users/?nav=users" },
				{ text: "Fund reports", href: "/funds/dashboard?nav=pro", current: true }
			]
		}) }}

		{% endif %}


	{% endif %} 

	<!-- Back Link -->
	{% if showBackLink != false %}
		{{ govukBackLink({
			text: "Back",
			href: "javascript:history.go(-1)"
		}) }}
	{% endif %}
        

{% endblock %}


{% block footer %}
    {{ govukFooter({
      meta: {
        html: '        
          <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/footer/help" rel="noreferrer noopener" target="_blank">Help</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/footer/privacy-notice" rel="noreferrer noopener" target="_blank">Privacy notice</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/footer/terms-and-conditions" rel="noreferrer noopener" target="_blank">Terms and conditions</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/footer/cookies" rel="noreferrer noopener" target="_blank">Cookies</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/footer/accessibility" rel="noreferrer noopener" target="_blank">Accessibility</a></li>
          </ul>
          <p><a class="govuk-body-s govuk-footer__link" href="/manage-prototype/clear-data" >Clear data</a> | <a class="govuk-body-s govuk-footer__link" href="/manage-prototype" >Manage prototype</a></p>',


        items: [

        ]
      }
    }) }}
  {% endblock %}